<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaClienteServlet</servlet-name>
        <servlet-class>Servlets.AltaClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaPuestoServlet</servlet-name>
        <servlet-class>Servlets.AltaPuestoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAlquilerServlet</servlet-name>
        <servlet-class>Servlets.AltaAlquilerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlquilerServlet</servlet-name>
        <servlet-class>Servlets.ModificarAlquilerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoCompletoPuestosServlet</servlet-name>
        <servlet-class>Servlets.ListadoCompletoPuestosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoPuestoDisponiblesServlet</servlet-name>
        <servlet-class>Servlets.ListadoPuestoDisponiblesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalAlquilerXPisoServlet</servlet-name>
        <servlet-class>Servlets.TotalAlquilerXPisoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoAlquileresServlet</servlet-name>
        <servlet-class>Servlets.ListadoAlquileresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoClientePuestoServlet</servlet-name>
        <servlet-class>Servlets.DetalleClientesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoClientesServlet</servlet-name>
        <servlet-class>Servlets.ListadoClientesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlquilerServlet</servlet-name>
        <url-pattern>/ModificarAlquilerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaClienteServlet</servlet-name>
        <url-pattern>/AltaClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaPuestoServlet</servlet-name>
        <url-pattern>/AltaPuestoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAlquilerServlet</servlet-name>
        <url-pattern>/AltaAlquilerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoCompletoPuestosServlet</servlet-name>
        <url-pattern>/ListadoCompletoPuestosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoPuestoDisponiblesServlet</servlet-name>
        <url-pattern>/ListadoPuestoDisponiblesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalAlquilerXPisoServlet</servlet-name>
        <url-pattern>/TotalAlquilerXPisoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoAlquileresServlet</servlet-name>
        <url-pattern>/ListadoAlquileresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoClientePuestoServlet</servlet-name>
        <url-pattern>/ListadoClientePuestoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoClientesServlet</servlet-name>
        <url-pattern>/ListadoClientesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>RevicionInicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
